<nav>
  <div class="burger">
  </div>
  <div class="logo-mobile">
  </div>
  <div class="menu">
    <div class="top">
        <a href="#home">
            <div class="logo">
            </div>
        </a>
    </div>
    <div class="middle">
        <ul>
            {% comment %} Loop through the links menu here {% endcomment %}
            {%- for link in section.settings.sidebar_menu.links -%}
                <li>
                    <a href="{{ link.url }}">
                        {{ link.title }}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    </div>
    <div class="bottom">
        {% comment %} Predictive search? {% endcomment %}
    </div>
  </div>
</nav>

{% schema %}
    {
        "name": "Sidebar New",
        "settings": [
            {
                "type": "link_list",
                "id": "sidebar_menu",
                "default": "esme-menu",
                "label": "Sidebar Menu"
            }
        ]
    }
{% endschema%}