/* ANNOUNCEMENT BAR */
.announcement-bar {
    background-color: lightblue;
}
/* END OF ANNOUNCEMENT BAR */



/* SIDEBAR SIDENAV */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.sidebar-container2 {
    padding: 0 2rem;
}

.cst-navbar {
    background-color: #303030;
}

.sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.sidebar-logo > a {
    text-decoration: none;
}

.sidebar-logo img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.sidebar-logo .shop-name {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0;
    text-align: center;
    line-height: 3.2rem;
}

.list-menu {
    list-style-type: none;
    padding-left: 0;
}
/* END OF SIDEBAR SIDENAV */



/* IMAGE BANNER */
.banner__media img {
    width: 100%;
    height: auto;
}
/* END IMAGE BANNER */