/* ANNOUNCEMENT BAR */
.announcement-bar {
    background-color: lightblue;
}
/* END OF ANNOUNCEMENT BAR */



/* SIDEBAR SIDENAV */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.cst-navbar {
    background-color: #303030;
}

.sidebar-logo img {
    width: auto;
    height: auto;
    max-width: 100%;
}
/* END OF SIDEBAR SIDENAV */



/* IMAGE BANNER */
.banner__media img {
    width: 100%;
    height: auto;
}
/* END IMAGE BANNER */